*{
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;  
}

a{
    text-decoration: none;
    color:#4a4a4a;
}

body{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #4a4a4a;
}

.col-6{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
}

.sectional-title::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background-image: linear-gradient(to right, rgb(38, 186, 38) , rgb(75, 75, 227), purple, red , yellow);   
}

.education-description{
    width: 90%;
    align-self: flex-start;
}

h3{
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
}

.bold-title{
    font-weight: 700;
}

.edu-item{
    display: flex;
    flex-wrap: wrap;
    border: rgba(0, 0, 0, 0.127) solid 1px;
}

#digital-marketing, #design{
    border-bottom: none;
}

#digital-marketing, #programming{
    border-right: none;
}


.edu-item div{
    width: 100%;
    padding: 15px 20px;
}

.edu-item-icon{
    font-size: 60px;
    margin-bottom: 30px;   /*responsivlikde silmek lazimdi*/
}

.edu-item-title{
    font-weight: 700;
    font-size: 21px;
}

.edu-item:hover{
    transform: scale(1.1);
}

#digital-marketing:hover{
    background-color: #872891;
}

#design:hover{
    background-color: #FFCF11;
}

#programming:hover{
    background-color: #2382C8;
}

#system-and-network:hover{
    background-color: #00B45A;
}

#digital-marketing:hover{
    color: #FFF;
}

#design:hover{
    color: #FFF;
}

#programming:hover{
    color: #FFF;
}

#system-and-network:hover{
    color: #FFF;
}

.edu-item{
    transition: all 0.5s;
}

.edu-item:hover{
    cursor: pointer;
}





/* Why Code Academy   start */

.why-code-description{
    margin-top: 40px;
    width: 100%;
}

#why-code-academy .container{       /*silinecek*/
    display: flex;
    justify-content: flex-start;
}

.detail-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
}

.info-img{
    width: 260px;
    height: 206px;
}

.info-img img{
    max-width: 200px;
    height: 100%;
}

.info-title-and-description{
    width: calc(100% - 260px);
    display: flex;
    flex-wrap: wrap;
}

.info-title h4{
    margin: 0;
    font-size: 21px;
    font-weight: 700;
}

.info-description p{
    margin: 0;
    font-size: 16px;
    width: 80%;
}

.info-more p{
    font-size: 14px;
    font-weight: 700;
    position: relative;
}



/*992   start*/

@media screen and (max-width: 991px)
{
    .edu-item{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .edu-item-icon{
        margin-bottom: 0;
        display: flex;
        width: 20% !important;
    }
    .edu-item-title{
        display: flex;
        width: 80% !important;
        align-items: center;
        padding-left: 50px !important;
    }
    
    #digital-marketing, #programming{
        border-right: rgba(0, 0, 0, 0.127) solid 1px;;
    }

    #programming{
        border-bottom: none;
    }


    #why-code-academy .detailed-info{
        width: 100%;
    }
}


/*992   end*/


@media screen and (max-width: 991px)
{
    .container{
        width: 100%;
    }
    .col-6{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .education-description{
        width: 60%;
    }
    .education-description p{
        line-height: 25px;
    }

    .edu-items{
        padding-left: 0;
        padding-right: 0;
    }
    .edu-item{
        padding-left: 10px;
    }

    .edu-item-title{
        font-size: 17px;
    }

    .info-img{
        display: none;
    }

    .info-title-and-description{
        width: 100%;
    }
}